$mainFont: "Poppins", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  width: 100%;
  font-size: 24px;
}
body {
  max-width: 100%;
  font-family: $mainFont;
  background-color: #5d5c61;
  color: #fff;
  height: 100vh;
  position: relative;
  cursor: none;
}
.container {
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.title__cursor {
  line-height: 50px;
  text-align: center;
  font-size: 2rem;
  border: none;
  letter-spacing: 0.2rem;
  transition: all 1s ease-in;
  z-index: 2;
  &-out {
    padding-top: 42vh;
    display: flex;
    justify-content: center;
  }
  &:hover {
    text-shadow: -60px 30px 0px #557a95, -62px 32px 10px #7395ae;
    transition: all 0.7s ease-in;
  }
}
.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #7395ae;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 1s ease;
  transition-property: transform, background-color, transform;
  z-index: -1;
  animation: cursorPuls .5s infinite alternate;
}
@keyframes cursorPuls {
  from{
    transform: scale(1.5);
  }
  to{
    transform: scale(1.4);
  }
}

.cursor-transformation {
  transform: scale(2);
  background-color: #7395ae;
  transition: all 1s ease;
  transition-property: transform, background-color;
}

.noScroll {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
